{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock base_styles %}
    {% block style %}{% endblock style %}
    <title>Document</title>
</head>
<body>
    {% block header %}
    {% include "blocks/header.html" %}
    {% endblock header %}
    {% if user.is_authenticated %}
    <a href="{% url 'logout_page' %}">{{user.username}}</a>
    {% else %}
    <a href="{% url 'user_login' %}">Login</a>
    {% endif %}

    <div class="content">
        {% block user %}{% endblock user %}
        {% block post %}{% endblock post %}
    </div>

    <div class="footer">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure fuga dicta repudiandae mollitia, praesentium vero voluptas veritatis animi nisi ullam omnis deleniti ducimus soluta magni, aliquam ipsam dolores, odio harum.</p>
    </div>

</body>
</html>