# Создано https://www.gitignore.io

# ## OS X ###
.DS_Store
.AppleDouble
.LSOverride

# Иконка должна заканчиваться двумя \r
Значок


# Миниатюры
._ *

# Файлы, которые могут появиться на внешнем диске
.Прожектор-V100
.Корзины

# Каталоги, потенциально созданные на удаленном общем ресурсе AFP
.AppleDB
.AppleDesktop
 Папка сетевой корзины 
Временные  предметы
.apdisk


# ## Питон ###
# Байт-компилированные/оптимизированные/DLL-файлы
__pycache__ /
* .py [ код ]

# Расширения C
* .so

# Распространение/упаковка
.Питон
окр /
построить /
развивать-яйца /
расстояние /
загрузки /
яйца /
библиотека /
библиотека64 /
части /
срасст /
вар /
* .яйцо-информация /
.установлено.cfg
* .яйцо

# PyInstaller
#   Обычно эти файлы пишутся скриптом python из шаблона
#   до того, как PyInstaller создаст исполняемый файл, чтобы добавить в него дату/другую информацию.
* .манифест
* .спецификация

# Логи установщика
пип-log.txt
pip-delete-this-directory.txt

# Модульные тесты / отчеты о покрытии
htmlcov /
.токс /
.покрытие
.кэш
носовые тесты.xml
покрытие.xml

# Переводы
* .мо
* .горшок

# документация по сфинксу
документы / _сборка /

# Пибилдер
цель /


# ## Джанго ###
* .лог
* .горшок
* .pyc
__pycache__ /
local_settings.py

.env
db.sqlite3