{% extends "base.html" %}

{% block post %}


<h2>{{post.title}}</h2>
    <p>{% if post.author.first_name %}
     {{post.author.first_name}} {{post.author.last_name}}{% else %} {{post.author.username}} {% endif %}</p>
    <img src="{{post.image.url}}" />
    <ul>
    {% for t in post.tags.all %}
        <li><a href="">{{t.value}}</a></li>
    {% endfor %}
    </ul>
    <p>{{post.created}}</p>
    <p>{{post.views}}</p>
    <p>{{post.text}}</p>
    {% if back %}
    <a href="{{back}}">Back</a>
    {% endif %}
{% endblock post %}